# Ignorar pastas do Eclipse IDE
.metadata/
.settings/
.project
.classpath

# Ignorar arquivos e diretórios de build
target/

# Ignorar arquivos temporários do sistema
*.log
*.tmp
*.swp

# Ignorar arquivos gerados por pacotes e IDEs
*.iml
.idea/
